{% extends "base.html" %}

{% block content %}
<div class="">
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>

    <div id="wrapper">
      <div id="login" class="animate form">
        <section class="login_content">
          <form method="post">
            <h1>Login do Usuário</h1>
            <div>
              <input type="text" class="form-control" placeholder="Usuario" required="" />
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Senha" required="" />
            </div>
            <div>
              <a class="btn btn-default submit" href="{% url 'home' %}">Entrar</a>
              <a class="reset_pass" href="#">Esqueceu sua senha?</a>
            </div>
            <div class="clearfix"></div>
            <div class="separator">

              <p class="change_link">Novo no site?
                <a href="{% url 'cadastrar' %}" class="to_register"> Criar Conta </a>
              </p>
              <div class="clearfix"></div>
              <br />
              <div>
                <p>©2019 All Rights Reserved.</p>
              </div>
            </div>
          </form>
          <!-- form -->
        </section>
        <!-- content -->
      </div>
      <div id="register" class="animate form">
        <section class="login_content">
          <form>
            <h1>Create Account</h1>
            <div>
              <input type="text" class="form-control" placeholder="Username" required="" />
            </div>
            <div>
              <input type="email" class="form-control" placeholder="Email" required="" />
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Password" required="" />
            </div>
            <div>
              <a class="btn btn-default submit" href="index.html">Submit</a>
            </div>
            <div class="clearfix"></div>
            <div class="separator">

              <p class="change_link">Already a member ?
                <a href="#tologin" class="to_register"> Log in </a>
              </p>
              <div class="clearfix"></div>
              <br />
              <div>
                <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Gentelella Alela!</h1>

                <p>©2019 All Rights Reserved.</p>
              </div>
            </div>
          </form>
          <!-- form -->
        </section>
        <!-- content -->
      </div>
    </div>
  </div>



{% endblock %}